body {
  background: gray;  
}
.box {
  padding: 10px;
  background: white; 
  font-size: 16px;
  line-height: 100%;
  align-content: left;
  color: black;
  }
  h1 {
    padding: 10px;
    margin: 5px;
    margin-bottom: 10px;
    font-size: 28px;
    color: rgb(60, 148, 148);
    font-weight: bold;
    text-align: left;
  }

